.nav-bar {
    background: #191b1c;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    width: 540px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
  
    .nav-links {
      display: flex;
      gap: 60px; // Space between the buttons
  
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        position: relative; /* Added */
  
        svg {
          margin-right: 8px; // The space between the icon and text
        }
  
        i {
          transition: all 0.3s ease-out;
        }
  
        &:hover {
          color: #ffffff;
          svg {
            opacity: 0;
          }
  
          &::after {
            opacity: 1;
            transform: translateX(-50%);
            left: 50%;
            top: 30%;
          }
        }
  
        &::after { // The animation of word fading away after the icon is hovered away from
          content: '';
          font-size: 20px;
          letter-spacing: 2px;
          position: absolute;
          left: 50%;
          top: 50%; 
          transform: translate(-50%, -50%);
          display: block;
          opacity: 0;
          transition: all 0.2s ease-out;
          pointer-events: none;
        }
  
        &:first-child {
          &::after {
            content: 'HOME';
          }
        }
      }
  
      a.about {
        &::after {
          content: 'ABOUT';
        }
      }
  
      a.projects {
        &::after {
          content: 'PROJECTS';
        }
      }

      a.linkedIn {
        &::after {
          content: 'LINKEDIN';
        }
      }

      a.github {
        &::after {
          content: 'GITHUB';
        }
      }
    }
  }
  