.nav-bar {

    background: #191B1C;
    
    height: 100%;

    top: 0;
    position: absolute;
    min-width: 120px;
    right: 0;
    


    .logo {
        display: block;
        

        img {
            display: block;
            margin-left: auto;
            width: 200px;
        }

    }
}