.nav-bar {
    background: #191b1c;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    width: 590px; 
    border-radius: 10px;
    min-width: 580px;
  
    display: flex;
    justify-content: space-around;
  
    align-items: center; 
  
    .nav-links {
      display: flex;
      gap: 20px; // Space between the buttons
  
      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;

        display: flex;
        align-items: center; 

         svg {
            margin-right: 8px; // The space between the icon and text
        }
      
      }
    }
  }
  